<% content_for "body" do %>
	<ul class="hv-list" id="hv-list">
		<!-- <li>
			<div class="hv-updown">
				<img src="/up.png">
				<img src="/down.png">
			</div>
			<a href="#" class="hv-list-title">This is a cool test list item...</a>
			<i>(website.com)</i>
			<h2>Points: <b>123</b> |
				View/Click: <b>10k</b>/<b>5k</b> |
				Author: <a href="#" class="hv-list-author">jessehorne</a> |
				Age: <b>2</b> hours |
				<b>143</b> comments</h2>
		</li> -->
	</ul>
<% end %>
