<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title><%= ENV["APP_TITLE"] %></title>

		<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="hv-container">
			<div class="hv-nav">
				<div class="hv-nav-brand"><a href="/">HV</a></div>
				<div class="hv-nav-left">
					<a id="nav-new">new</a> |
					<a id="nav-top">top</a> |
					<a id="nav-show">show</a> |
					<a id="nav-ask">ask</a> |
					<a id="nav-jobs">jobs</a>
				</div>
				<div class="hv-nav-right">
					<a href="/submit">submit</a> |
					<% if env.session.bool?("user_logged_in") %>
						<a href="/account"><%= env.session.string("username") %></a> |
						<a href="/logout">logout</a>
					<% else %>
						<a href="/login">login</a> |
						<a href="/register">register</a>
					<% end %>
				</div>
			</div>

			<%= yield_content "body" %>
		</div>

		<script type="text/javascript" src="/js/hv.js"></script>
	</body>
</html>
